// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #ffffff;
$yellow: #ffea78;
$yellow-bienvenus: #FFEA78;
$button: #42D4B9;
$grey-text: #5C5A5A;
$grey-icon: #5C5858;
$bezier: cubic-bezier(.25,.8,.25,1);
$green-button: #42D4B9;
