h1{
font-family: $headings-font-family;
font-weight: bold;
font-size: 40px;
text-align: center;
color: $grey-text;
}

h2{
font-size: 20px;
font-family: "Quicksand", "sans-serif";
padding-top: 20px;
color: #5C5A5A;
padding: 10px 0;
}

.content-wrapper{
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.my-container{
  display:flex;
  align-items: center;
  min-height: calc(100vh - 60px);
  flex-direction: column;
  padding: 0 30px;
}

.date{
  display:flex;
  color: black;
  justify-content: flex-start;
  box-shadow: inset 0px -10px #F3E37C;
}

// ## NAVBAR ##

#menu_positioner {
  position: absolute;
  top: 25px;
  right: 35px;
  cursor: pointer;
}

.fa-ellipsis-v {
  font-size: 25px;
  font-weight: bold;
  color: $gray;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.task-link {
  width: 77%;
}

.tasks-index {
  width: 100%;
  a {
    text-decoration: none !important;
  }
}
