h1{
font-family: $headings-font-family;
font-weight: bold;
font-size: 40px;
text-align: center;
}

h2{
font-size: 15px;
font-family: "Quicksand", "sans-serif";
padding-top: 20px;
color: #5C5A5A;
padding: 10px 0;
}

.content-wrapper{
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.my-container{
  display:flex;
  align-items: center;
  min-height: calc(100vh - 75px);
  flex-direction: column;
  padding: 0 30px;
}

.date{
  display:flex;
  color: black;
  justify-content: flex-start;
  box-shadow: inset 0px -10px #F3E37C;
}
