.to-do{
  text-align: left;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.checkbox{
  width: 32px;
  height: 32px;
  border-left: 1px solid;
}

.completed-tasks {
  opacity: 0.8;
}
