.resources-container{
  height: 85%;
  width: 100%;
  display: flex;
  align-text: center;
  flex-direction: column;
  align-items: space-between;
  h1{
    text-align: center;
    font-weight: normal;

  }
}
#services-map{
  margin:10px;
}
