.sign-up-container {
  padding: 20px;
  width: 315px;

}

.police {
  color: $grey-text;
}


.signup-control-position-right {
  top: 80%;
  right: 30% !important;
}

.signup-control-position-left {
  top: 80%;
  left: 12% !important;
}

.button-next {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}

.help-block {
  margin-top: 10px !important;
  padding-top: 0 !important;
  margin-bottom: 10px !important;
  padding-bottom: 0 !important;
}
