
.user-profile-overview {
  margin-top: 20px;
}

.user-details {
  padding: 40px 30px;
  background-color: #fff;
  text-align: left;
  color:$grey-text;
  border-style: solid;
  border-width: 0.3px;
  border-color: rgb(40, 40, 40);
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 10, .1);
}

.user-profile-name h3 {
  font-size: 20px;
}

.user-avatar {
 display: flex;
 justify-content: center;
}

.user-show-photo {
  border-radius: 50%;
  margin-top: 20px;
}

.user-show-details p {
  font-size: 15px;
  margin-bottom: 0px !important;
}

.edit-user-btn-box {
  margin-top: 10px;
  text-align: center;
}

#edit-user-btn {
  margin-top: 20px;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.3em;
  &:hover {
    color: $green;
  }
}

.user-button {
  margin-top: 15px;
}

.user-show-details {
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 10px;
}

.simple_form, .edit_user {
  line-height: 0.8;
}

#button-admin {
  margin-top: 20px !important;
}

.user-signout{
  padding-top: 20px;
}

.user-edit-form-field {
    color: $grey-text;
}
