.welcome-container {
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 20px;
  }
  h2 {
    font-weight: normal;
    font-size: 30px;
    font-color: $grey-text;
  }
  a {
    text-decoration: none;
    font-size: 15px;
  }
  h4 {
    font-size: 12px;
    color: $grey-text;
    opacity: 0.7;
  }
  h5 {
    font-size: 10px;
    color: $grey-text;
    opacity: 0.6;
  }
  .button-rounded {
    width: 200px;
    margin: 0% 25%;
  }
}

.navbar{
  display: flex;
  text-align: right;
  width: 100%;
}

.language{
  color: black;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}


#fox-image {
  width: 150px;
  position: relative;
  margin: 0% 35%;
}

#welcome-icon{
  color: $yellow-bienvenus;
  font-size: 50px;
}
