

<div class="content-wrapper">
  <div class="my-container">
    <h1>My Tasks</h1>
    <h3>TO DO</h3>
      <div class="card-container">
      <div class="card-home">
        <div class="category">
          <div class="category-color"></div>
          <p>banking</p>
        </div>
      </div>
    </div>
  </div>
</div>


