<div class="wrap">
  <div class="task">
    <div class="abstract">
      <h3><%= @task.title %><span class="glyphicon glyphicon-menu-down"></span></h3>
    </div>
    <div class="details card-content">
      <div class="details__inner">
        <%= @task.description %>
      </div>
    </div>
  </div>
</div>
<div class="subtask-list">
<% @subtasks.each do |subtask| %>
  <%= render 'subtask', subtask: subtask %>
<% end %>
</div>


<!-- <i class="fas fa-circle show-subtask-circle" style="color: #BB6BD9;"></i> -->


