<div class="footer">
  <div class="footer-content">
    <%= link_to home_path, class: current_class?(home_path) do %>
      <i class="fas fa-home"></i>
      <p> HOME </p>
    <% end %>
  </div>
  <div class="footer-content">
    <%= link_to user_path(current_user), class: current_class?(user_path(current_user)) do %>
      <i class="fas fa-user"></i>
      <p> USER </p>
     <% end %>
  </div>
  <div class="footer-content">
    <%= link_to tasks_path, class: current_class?(tasks_path) do %>
      <i class="fas fa-tasks"></i>
      <p> TASKS </p>
    <% end %>
  </div>
  <div class="footer-content">
    <%= link_to resources_path, class: current_class?(resources_path) do %>
      <i class="fas fa-rocket"></i>
      <p> RESOURCES </p>
     <% end %>
  </div>
</div>
