<div class="footer">
  <div class="footer-content">
    <%= link_to home_path, class: current_class?(home_path) do %>
      <i class="fas fa-home fas-footer"></i>
      <p> HOME </p>
    <% end %>
  </div>
  <div class="footer-content">
    <%#= link_to user_path(current_user), class: current_class?(user_path(current_user)) do %>
      <i class="fas fa-user fas-footer"></i>
      <p> USER </p>
     <%# end %>
  </div>
  <div class="footer-content">
    <%= link_to tasks_path, class: current_class?(tasks_path) do %>
      <i class="fas fa-tasks fas-footer"></i>
      <p> TASKS </p>
    <% end %>
  </div>
  <div class="footer-content">
    <%= link_to resources_path, class: current_class?(resources_path) do %>
      <i class="fas fa-rocket fas-footer"></i>
      <p> RESOURCES </p>
     <% end %>
  </div>
  <div class="footer-content">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt fas-footer"></i>
      <p>SIGN OUT</p>
      <% end %>
  </div>
</div>
