
<div class="global-wrapper">
  <div class="acronyms-header">
    <div class="acronyms-header-title">
      <h3>Resources</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xl-offset-4">
      <div class="list-item-acronyms">
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
        <div class="list-item">
          <div class="acronym"><h3>OPFII</h3></div>
          <div class="acronym-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
