<div class= "are-you-container">
  <h1> <%= t('.title') %> </h1>
  <br>
  <%= link_to t('.refugee'), new_user_registration_path(user_type: "refugee"), class: "button-normal" %>
  <br>
  <%= link_to t('.volunteer'), new_user_registration_path(user_type:"volunteer"), class: "button-normal" %>
  <br>
  <br>
<%= link_to t('.asyleum'), asylum_seeker_path %>
</div>
