<div class= "are-you-container">
  <h1> Are you...? </h1>
  <br>
  <%= link_to "A refugee", new_user_registration_path,class: "button-normal" %>
  <br>
  <%= link_to "A volunteer", new_user_registration_path,class: "button-normal" %>
  <br>
  <br>
<%= link_to "I am an asylum seeker", asylum_seeker_path %>
</div>
