<div class="container">
  <h1> Sorry <i class="far fa-frown"></i> </h1>
  <h2> We are so sorry.
  At this time, our service is only
  available to those who already received the refugee status.
  If you have any questions, please send us an email at contact@bienvenus.org </h2>
  <h2> <em> Add some resources here </em></h2>
</div>
