
<div class = "content-wrapper">
  <div class="my-container">
    <h1>Hello Sergio</h1>
    <h2>Latest News</h2>

    <div class = "card card-content" style= "margin-left: 37px">
      <p> Your CPAM is closed today. If you need help please talk to someone </p>
    </div>

    <h2>Today, your to-do list</h2>

    <div class="card-container">
      <div class="card-home">
        <div class="category">
          <div class="category-color"></div>
          <p>banking</p>
        </div>
        <div class="completion">
          <p>90%</p>
        </div>
      </div>

    </div>
  </div>


</div>





