<div class = "container">
  <% @categories.each do |category| %>
    <li> <a href = "#<%=category%>"> <%= category %> </a></li>
  <% end %>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class = "container">
  <% @categories.each do |category| %>
    <uL>
      <li><%= category.upcase %></li><a name= "<%=category%>"></a>
      <br><br>
    </uL>
  <% end %>
</div>
