<div id="myCarousel" class="carousel slide" data-ride="carousel" date-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h3>
          Paperwork
          <br>Made Easy</br>
        </h3>
        <div class='media logo'>
          <%= image_tag 'analytics.png', class: 'logo' %>
          <!-- <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'> -->
        </div>
        <p>French administration can be complicated. We provide you with simple tasks to complete in order to make
        sure you can benefit from everything you are entitled to.</p>
    </div>

    <div class="item">
      <h3>
          You Know Exactly
          <br>What To Do Next</br>
        </h3>
        <div class='media logo'>
          <%= image_tag 'placeholder.png', class: 'logo'%>
          <!-- <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'> -->
        </div>
        <p>We provide help every step of the way. We help you understand what you need to do and what is coming next.
        You will never be lost again.</p>
    </div>

    <div class="item">
      <h3>
         Ask For Help
          <br>Any Time</br>
        </h3>
        <div class='media logo'>
          <%= image_tag 'networking.png', class: 'logo' %>
        </div>
        <p>We hope our product is awesome. But in case you have an issue with something, you have the option to get in touch with someone to get help. Our awesome volunteers will do their best to help you with your specific issue.
        later </p>
        <%= link_to 'SIGN ME UP!', new_user_registration_path, class: 'button-rounded' %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
