<button class='open-walkthrough'>Bienvenue</button>
<div class='walkthrough show reveal'>
  <div class='walkthrough-pagination'>
    <a class='dot active'></a>
    <a class='dot'></a>
    <a class='dot'></a>
  </div>
  <div class='walkthrough-body'>
    <ul class='screens animate'>

      <li class='screen active'>
        <h3>
          Paperwork
          <br>Made Easy</br>
        </h3>
        <div class='media files'>
          <%= image_tag 'analytics.png', class: 'icon' %>
          <!-- <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'> -->
        </div>
        <p>French administration can be complicated. We provide you with simple tasks to complete in order to make
        sure you can benefit from everything you are entitled to.</p>
      </li>

      <li class='screen'>
        <h3>
          You Know Exactly
          <br>What To Do Next</br>
        </h3>
        <div class='media logo'>
          <%= image_tag 'placeholder.png'%>
          <!-- <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'> -->
        </div>
        <p>We provide help every step of the way. We help you understand what you need to do and what is coming next.
        You will never be lost again.</p>
      </li>

      <li class='screen'>
        <h3>
         Ask For Help
          <br>Any Time</br>
        </h3>
        <div class='media files'>
          <%= image_tag 'networking.png' %>
        </div>
        <p>We hope our product is awesome. But in case you have an issue with something, you have the option to get help.
        We put you in touch with a volunteer that will help you for your specific issue. But you can always talk further
        later </p>
      </li>

    </ul>
    <button class='prev-screen'>
      <i class='icon-angle-left'></i>
    </button>
    <button class='next-screen'>
      <i class='icon-angle-right'></i>
    </button>
  </div>
  <div class='walkthrough-footer'>
    <button class='button next-screen'>Got it!</button>
    <button class='button finish close' disabled='true'>Try it!</button>
  </div>
</div>
