<div class="resources-container">
  <h1> Map of services </h1>
  <br>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1JgjMBRNupmhxYI6yuMFk0u6CAZt-Ixd3" width="375" height="375" id="services_map">
  </iframe>
  <br><br>
   <%= render 'shared/footer' %>
</div>
