<div class = "welcome-container">
  <i class="far fa-bolt" id = "welcome-icon"></i>
  <h2> Don't know what you need to do? We're here to assist! </h2>
  <button class = "btn-rounded"> <%= link_to "THANK YOU", welcome3_path %> %> </button>
</div>
