<div class = "welcome-container">
    <h1> BIENVENUS </h1>
<!--     <h4><em> An app to help refugees with their paperwork </em></h4>
    <h5><em> (Currently only available for French paperwork) </em> </h5> -->
  <%= image_tag 'medium_fox.png', id: "fox-image" %>
  <h2>
    <span id="banner-typed-text"></span>
  </h2>
  <%= link_to 'Get started', onboarding_path, class: 'button-rounded' %>
</div>
