<div class = "welcome-container">
  <i class="far fa-gem" id = "welcome-icon"></i>
  <h2> Administration made easy </h2>
  <button class = "btn-rounded"> <%= link_to "AWESOME!", welcome2_path %> </button>
</div>
