/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 1000;
}
.alert-info {
  background: $green;
  opacity: 0.5;
}
.alert-warning {
  background: $red;
  opacity: 0.5;
}
