/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 1000;
  position: absolute;
  top: 0px ;
  height: 30px;
  width: 100%;
  padding: 10px;
}

.alert-info {
  font-size: 12px;
  background: #78DE9D;
  color: $white;
  border: none;
  font-family: Arial;
  font-weight: bolder;
}
.alert-warning {
  font-size: 12px;
  background: #E38B8C;
  color: $white;
  border: none;
  font-family: Arial;
  font-weight: bolder;
}
