/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 1000;
  position: absolute;
  top: -5px ;
  height: 20px;
  width: 100%;
}

.alert-info {
  background: rgba(0, 0, 255, 0);
  color: $green;
  border: none;
}
.alert-warning {
  background: rgba(0, 0, 255, 0);
  color: $red;
  border: none;
}
