.background_skew {
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  width: 100%;
  background: $light-gray;
}
.background-white {
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: white;
}
