.button-rounded {
  height: 50px;
  width: 100%;
  max-width: 400px;
  border: 0;
  background: $green-button;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 0;
  color: $white;
  top: 500px;
  border: 2px solid $green-button;
  border-radius: 40px;
  font-size: 16px;
  outline: 0;
  padding: 12px;
  transition: opacity 0.4s $bezier, background 0.4s $bezier;
  cursor: pointer;
    &:hover {
      color: $green-button;
      background: $white;
    }
    &:focus {
      color: $green-button;
      background: $white;
    }
  }

.button-normal {
  height: 50px;
  width: 200px;
  border: 0;
  background: $grey-button;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: $white;
  top: 500px;
  border: 2px solid $grey-button;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  padding: 12px;
  transition: opacity 0.4s $bezier, background 0.4s $bezier;
  cursor: pointer;
    &:hover {
      color: $grey-button;
      background: $white;
      text-decoration: none;
    }
    &:focus {
      color: $grey-button;
      background: $white;
    }
  }
