// body {
//   font-family: 'Source Sans Pro', sans serif;
//   background-color: #ddd;
// }

// .cards {
//   margin: 5rem auto;
//   max-width: 90%;
//   text-align: center;
// }

.card {
  width: 300px;
  height: 200px;
  margin: 1.5rem;
  text-align: left;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 10, .1);
}


.card-content {
  position: relative;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  color: $grey-text;
}

// .label {
//   display: block;
//   font-size: 12px;
//   text-transform: uppercase;
//   color: #aaa;
// }

// .title {
//   display: block;
//   margin: 1em 0;
//   font-size: 1.125rem;
//   font-weight: 600;
// }

// .description {
//   margin: 0;
//   color: gray;
//   line-height: 1.5;
// }








// .container {
//   a {
//     text-decoration: none;
//   }
// }

// .card {
//   display: flex;
//   flex-direction: column;
// }

// .card_body {
//   position: relative;
//   height: 250px;
//   border-radius: 3px;
//   margin: 15px;
//   background-size: cover !important;
//   h1 {
//     margin-top: 0px;
//   }
// }

// .card_body:hover {
//   opacity: 0.9;
//   }

// .card_title {
//   position: absolute;
//   color: $white;
//   top: 15px;
//   left: 15px;
//   font-size: 24px;
// }

// .card_content {
//     font-size: 14px;
//     font-weight: normal;
//     color: $white;
//     text-align: left;
//     line-height: 5px;
//     margin-left: 20px;
//     #id1 {
//       color: $gray;
//       text-transform: capitalize;
//     }
//     #id2 {
//       color: $gray;
//       font-weight: lighter;
//       text-transform: capitalize;
//       font-size: 12px;
//     }
//   }
