.footer{
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  bottom: 100px;
  a {
    text-decoration: none;
    color: $grey-text;
    font-size: 12px
  }
}

.fas:hover{
  color: $yellow-bienvenus;
}
