.footer{
  margin-top: 15px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  bottom: 100px;
  a {
    text-decoration: none;
    color:rgb(200,200,200);
    font-size: 12px
  }
}

.footer-content{
  width: 50px;
  font-size:14px;
  opacity: 1;
  a {
    &:hover{
      color: $dark-yellow;
    }
    &:focus{
      color: $dark-yellow;
    }
  }
  .active{
    color: $black;
    opacity: none !important;
  }
}
.fas-footer {
  font-size: 2em;
}
