.footer{
  position: sticky;
  bottom: 0px;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  a {
    text-decoration: none;
    color:rgb(200,200,200);
    font-size: 12px
  }
  padding-top: 15px;
}

.footer-content{
  width: 50px;
  font-size:14px;
  opacity: 1;
  a {
    &:hover{
      color: $grey-text;
    }
    &:focus{
      color: $grey-text;
    }
  }
  .active{
    color: $grey-text;
    opacity: none !important;
  }
}
.fas-footer {
  font-size: 2em;
}

